/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozicionálás */

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("assets/background5.jpg");
  background-size: cover;
}

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
  position: relative;
  height: 90vh;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 20px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

 .content {
  left: 5%; 
  right: 5%;
  margin: 0 auto;
  text-align: justify;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  position: absolute;
  top: 140px;
}
 .contact {
  text-align: center;
 }

.name-headline {
  position: absolute;
  right: 5px;
  margin-top: 0;
  text-align: center;
} 

.head, .about {
   margin-bottom: 10%;
}

 .about {
   display: flex;
   justify-content: center;
}

  .content {
  padding: 5% 10%;
} 

.profile-picture {
  margin-top: -20px;
  position: absolute;
  left: 10px;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
} 

img:hover {
  filter: grayscale(20%);
  transform: scale(1.1);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}
